@font-face {
  font-family: Caslon;
  src: url(../fonts/ACaslonPro-Regular.otf);
}
@font-face {
  font-family: Springville;
  src: url(../fonts/Springville-Regular3.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a.text-link {
  transition: .5s;
  text-transform: uppercase;
  border-bottom: thin #aaa solid;
  cursor: pointer;
  &:hover {
    border-color: black;
  }
}

.main {
  list-style: none;
  margin-top: 122px;
  @media (max-width: $small) {
    margin-top: 50px;
  }
}
