$carousel-height: 580px;
$ratio: ($carousel-height * (4 / 3));
$bulletSize: 9px;

@mixin ratio-break {
  @media (max-width: $ratio) {
    @content;
  }
}

.carousel-wrapper {
  margin-bottom: 70px;
  @media (max-width: $medium) {
    margin-bottom: 0px;
  }
  .swiper-container {
    padding-top: $carousel-height;
    max-width: $max-width;
    @include ratio-break {
      padding-top: ($carousel-height / $ratio) * 100%; // responsive aspect ratio
    }
    .swiper-wrapper {
      position: absolute;
      top: 0;
    }
  }
}

.carousel-item {
  .text-overlay {
    color: white;
    margin-left: $margin;
    margin-top: 212px;
    position: absolute;
    @include ratio-break {
      margin-top: 27.3%;
      @media (max-width: $extra-small) {
        margin-top: 22%
      }
    }
    &-header {
      font-size: 60px;
      line-height: 61px;
      font-family: $primary-serif;
      @media (max-width: $small) {
        font-size: 40px;
        line-height: 41px;
      }
      @media (max-width: $extra-small) {
        font-size: 30px;
        line-height: 31px;
      }
    }
    &-date {
      font-size: 30px;
      margin-top: 15px;
      font-family: $secondary-serif;
      letter-spacing: -.2px;
      @media (max-width: $extra-small) {
        font-size: 20px;
      }
    }
    &-cta {
      font-size: 18px;
      margin-top: 13px;
      font-family: $secondary-serif;
      @media (max-width: $extra-small) {
        font-size: 14px;
      }
    }
    &-image {
      height: $carousel-height;
      background-size: cover;
    }
  }
}

.swiper-pagination {
  // border: thin black solid;
  position: relative;
  padding: 8px 0;
  z-index: 0;
  width: 100%;
  &-bullet {
    opacity: 1;
    margin: 0 10px;
    width: $bulletSize;
    height: $bulletSize;
    transition: background-color .2s;
    background-color: rgb(230, 230, 230);
    &:hover {
      background-color: rgb(180, 180, 180);
    }
  }
  .swiper-pagination-bullet-active { // for some reason &-bullet-active isn't working here
    background: rgb(120, 120, 120);
  }
}

