footer {
  font-family: $sans;
  font-size: 11px;
  padding: 75px 0;
  text-align: center;
  letter-spacing: .1px;
  .name {
    &::before {
      content:'— ' ;
    }
    &::after {
      content:' -' ;
    }
  }

}

@media (max-width: $small) {
  footer {
    padding: 10px 0 40px 0;
  }
  .social-links {
    display: block;
  }
  .copyright {
    display: block;
  }
  .name {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}

