$max-width: 1440px;
$margin: 9.6%; // used by carousel and header

$large: 1200px;
$medium: 800px;
$small: 700px;
$extra-small: 500px;

$primary-serif: (Springville, 'Times New Roman', serif);
$secondary-serif: (Caslon, 'Times New Roman', serif);
$sans: (arial, sans-serif);