@font-face {
  font-family: Caslon;
  src: url(../fonts/ACaslonPro-Regular.otf); }

@font-face {
  font-family: Springville;
  src: url(../fonts/Springville-Regular3.otf); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

a.text-link {
  transition: .5s;
  text-transform: uppercase;
  border-bottom: thin #aaa solid;
  cursor: pointer; }
  a.text-link:hover {
    border-color: black; }

.main {
  list-style: none;
  margin-top: 122px; }
  @media (max-width: 700px) {
    .main {
      margin-top: 50px; } }

.header {
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center;
  height: 122px;
  position: fixed;
  width: 100%; }
  @media (max-width: 700px) {
    .header {
      height: 50px; } }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    background: white;
    border-bottom: thin solid black; }
  .header .logo {
    height: 100%;
    margin-left: 9.6%;
    width: 196px; }
    .header .logo a {
      display: flex;
      height: 100%;
      background: url(../images/logo.svg) no-repeat center; }
    @media (max-width: 700px) {
      .header .logo {
        margin-top: 0;
        margin-left: 20px;
        width: 130px; } }

ul.right-items {
  font-family: arial, sans-serif;
  margin-right: 9.6%;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #767676; }
  ul.right-items li {
    margin-left: 20px; }
  ul.right-items img {
    margin-top: 2px;
    position: relative; }
  @media (max-width: 700px) {
    ul.right-items {
      margin-right: 20px; } }

.carousel-wrapper {
  margin-bottom: 70px; }
  .carousel-wrapper .swiper-container {
    padding-top: 580px;
    max-width: 1440px; }
    @media (max-width: 773.33333px) {
      .carousel-wrapper .swiper-container {
        padding-top: 75%; } }
    .carousel-wrapper .swiper-container .swiper-wrapper {
      position: absolute;
      top: 0; }

.carousel-item .text-overlay {
  color: white;
  margin-left: 9.6%;
  margin-top: 212px;
  position: absolute; }
  @media (max-width: 773.33333px) {
    .carousel-item .text-overlay {
      margin-top: 27.3%; } }
  @media (max-width: 773.33333px) and (max-width: 500px) {
    .carousel-item .text-overlay {
      margin-top: 25%; } }
  .carousel-item .text-overlay-header {
    font-size: 60px;
    line-height: 61px;
    font-family: Springville, "Times New Roman", serif; }
    @media (max-width: 700px) {
      .carousel-item .text-overlay-header {
        font-size: 40px;
        line-height: 41px; } }
    @media (max-width: 500px) {
      .carousel-item .text-overlay-header {
        font-size: 30px;
        line-height: 31px; } }
  .carousel-item .text-overlay-date {
    font-size: 30px;
    margin-top: 15px;
    font-family: Caslon, "Times New Roman", serif;
    letter-spacing: -.2px; }
    @media (max-width: 500px) {
      .carousel-item .text-overlay-date {
        font-size: 20px; } }
  .carousel-item .text-overlay-cta {
    font-size: 18px;
    margin-top: 13px;
    font-family: Caslon, "Times New Roman", serif; }
    @media (max-width: 500px) {
      .carousel-item .text-overlay-cta {
        font-size: 14px; } }
  .carousel-item .text-overlay-image {
    height: 580px;
    background-size: cover; }

.swiper-pagination {
  position: relative;
  padding: 8px 0; }
  .swiper-pagination-bullet {
    opacity: 1;
    margin: 0 10px;
    width: 9px;
    height: 9px;
    transition: background-color .2s;
    background-color: #e6e6e6; }
    .swiper-pagination-bullet:hover {
      background-color: #b4b4b4; }
  .swiper-pagination-bullet-active {
    background-color: #787878; }

.my-gallery-class {
  list-style: none;
  max-width: 1252.8px;
  margin: 0 auto;
  padding: 0; }
  @media (max-width: 1200px) {
    .my-gallery-class {
      max-width: 90%; } }
  .my-gallery-class .post-wrapper {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1200px) {
      .my-gallery-class .post-wrapper {
        width: 50%; } }
    @media (max-width: 800px) {
      .my-gallery-class .post-wrapper {
        width: 100%; } }

.post-content {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 50px; }
  .post-content .story-wrapper {
    cursor: pointer; }
    .post-content .story-wrapper img {
      margin-bottom: 40px; }
    .post-content .story-wrapper .date {
      font-family: arial, sans-serif;
      letter-spacing: .4px;
      font-size: 11px;
      text-transform: uppercase;
      color: #a0a0a0;
      margin-bottom: 30px; }
    .post-content .story-wrapper .headline-wrap {
      max-width: 325px;
      margin-bottom: 22px; }
      .post-content .story-wrapper .headline-wrap .headline {
        transition: border-color .4s;
        font-family: Springville, "Times New Roman", serif;
        max-width: 325px;
        font-size: 48px;
        line-height: 53px;
        border-bottom: 2px solid white;
        display: inline; }
    .post-content .story-wrapper:hover .headline {
      border-color: black; }
  .post-content .sponsor {
    font-family: Caslon, "Times New Roman", serif;
    margin-bottom: 50px;
    font-size: 14px; }
    .post-content .sponsor span {
      border-bottom: 1px solid black;
      text-transform: uppercase; }

footer {
  font-family: arial, sans-serif;
  font-size: 11px;
  padding: 75px 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: .1px; }

@media (max-width: 700px) {
  footer {
    padding: 30px 0; }
  .social-links {
    display: block; } }
